<nav mat-tab-nav-bar backgroundColor="primary">
  <button mat-flat-button color="primary">Multi calculator</button>

  <div fxLayout="row" fxLayoutAlign="center center" style="flex: 1 1 auto;">
      <a mat-tab-link *ngFor="let link of links"
          [active]="this.router.url == link.path"
          [routerLink]="link.path"> {{link.name}} </a>
  </div>
  
  <!-- <button mat-flat-button color="primary" routerLink="/about">
      <mat-icon>info</mat-icon>
  </button> -->
  <!-- <button mat-flat-button color="primary">
      <mat-icon>history</mat-icon>
  </button> -->
</nav>

<router-outlet></router-outlet>

<div class="footer">
    Copyright &copy; by Laszlo Papai<br>
    All rights reserved.
</div>
