<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Important!</mat-card-title>
        <mat-card-subtitle>Disclaimer</mat-card-subtitle>
        <mat-card-content>
            <p>
                On this page, you can perform informative calculations based on any number of prepayments for the term of a loan.<br>
                The results are <b>indicative</b>, the calculations of any particular bank for real credit may differ.<br>
                The author is not responsible for any discrepancies or any inaccuracies in the calculation.
            </p>
            
            <mat-checkbox [(ngModel)]="accept" >I understand and accept the terms*</mat-checkbox>                

            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary"
                [disabled]="!accept" (click)="send()">Go to the calculator</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
