<div *ngIf="data.saveMode; then save else paste"></div>
<ng-template #save>
    <h2 mat-dialog-title>Copy the JSON from the box.</h2>
</ng-template>
<ng-template #paste>
    <h2 mat-dialog-title>Paste the JSON to the box.</h2>
</ng-template>
<mat-dialog-content>
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>JSON</mat-label>
        <textarea style="height: calc(80vh - 200px);box-sizing: border-box;" matInput [(ngModel)]="data.text" [readonly]="data.saveMode"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="data.text">{{ data.saveMode ? "Ok" : "Load"}}</button>
    <button mat-button mat-dialog-close *ngIf="!data.saveMode">Cancel</button>
</mat-dialog-actions>
